a, a:hover, a:focus, a:active {
    color: inherit!important;
}

a.navbar-brand {
    font-family: 'Antonio', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.header-background {
    background-color: #070724;
}

.header-bottom-border {
    border-bottom: 0.063rem #38384F solid;
}

nav {
    padding: 0!important;
}

ul.nav {
    display: flex;
    justify-content: space-between;
}

.navstyle {
    color: #bbbbbb!important;
    font-family: 'Spartan', sans-serif;
    font-size: 0.688rem;
    font-weight: 600!important;
    padding: 2.032rem 0.03125rem!important;
    border-top: 0.25rem #419ebb00 solid!important;
}

.mobilestyle {
    color: #ffffff;
    font-family: 'Spartan', sans-serif;
    font-size: 0.938rem;
    font-weight: 700!important;
    padding: 1.344rem 0!important;
}

.cursor {
    cursor: pointer!important;
}

.circle {
    height: 1.25rem!important;
    width: 1.25rem!important;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
}

.mobile-border {
    border-bottom: 0.063rem #242433 solid;
}

.mobile-margin {
    margin: 0;
    padding: 1.5rem 1.5rem;
}

.mobile-title-margin {
    margin-left: 1.5rem;
}

.mobile-background {
    background-color: #070724;
    position: absolute;
    top: 0rem;
    left: -68rem;
    z-index: 1;
}

.mobile-chevron {
    background-image: url(../../assets/icon-chevron.svg);
    width: 0.375rem!important;
    height: 0.5rem!important;
    transform: scale(1.2);
    margin-left: auto;
    margin-right: .5rem;
}

.mobile-mercury {
    background-color: #DEF4FC
}

.mobile-venus {
    background-color: #F7CC7F
}

.mobile-earth {
    background-color: #545BFE
}

.mobile-mars {
    background-color: #FF6A45
}

.mobile-jupiter {
    background-color: #ECAD7A
}

.mobile-saturn {
    background-color: #FCCB6B
}

.mobile-uranus {
    background-color: #65F0D5
}

.mobile-neptune {
    background-color: #497EFA
}

.mercury:hover {
    border-top: 0.25rem #419EBB solid!important;
}

.venus:hover {
    border-top: 0.25rem #EDA249 solid!important;
}

.earth:hover {
    border-top: 0.25rem #6D2ED5 solid!important;
}

.mars:hover {
    border-top: 0.25rem #D14C32 solid!important;
}

.jupiter:hover {
    border-top: 0.25rem #D83A34 solid!important;
}

.saturn:hover {
    border-top: 0.25rem #CD5120 solid!important;
}

.uranus:hover {
    border-top: 0.25rem #1EC1A2 solid!important;
}

.neptune:hover {
    border-top: 0.25rem #2D68F0 solid!important;
}

.navbar-collapse {
    margin-left: auto!important;
    margin-right: 0!important;
}

.row {
    margin: 0 1.5rem!important;
    padding: 0!important;
    width: 100%!important;
    justify-content: space-between!important;
}

.logo {
    margin: 0;
    padding: .813rem 0;
    padding-left: 0!important;
}

.hamburger {
    background-image: url(../../assets/icon-hamburger.svg);
    width: 1.5rem!important;
    height: 1.063rem!important;
    transition: .15s;
}

.hamburger-active {
    background-image: url(../../assets/icon-hamburger-active.svg);
    width: 1.5rem!important;
    min-height: 1.063rem!important;
    transition: .15s;
}


.hamburger:hover {
    cursor: pointer;
}

.hamburger-active:hover {
    cursor: pointer;
}

@media(min-width: 768px) {
    .logo {
        padding: 1.357rem 0 .644rem!important;
        display: flex;
    }
    .row {
        margin: 0 2rem!important;
    }
}

.mobile-trans-on {
    animation-name: mobile-trans-in;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

.mobile-trans-off {
    animation-name: mobile-trans-out;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

@keyframes mobile-trans-in {
    from {left: -68rem;}
    to {left: 0rem;}
}

@keyframes mobile-trans-out {
    from {left: 0rem;}
    to {left: -68rem;}
}