.Planet-Mars {
    background-image: url(../../assets/planet-mars.svg);
    width: 21rem!important;
    height: 21rem!important;
    transform: scale(.38392);
}

.Internal-Mars {
    background-image: url(../../assets/planet-mars-internal.svg);
    width: 21rem!important;
    height: 21rem!important;
    transform: scale(.38392);
}

.Geology-Mars {
    background-image: url(../../assets/geology-mars.png);
    width: 20.375rem!important;
    height: 24.875rem!important;
    transform: scale(.1913780);
}

@media(min-width: 768px) {
    .Planet-Mars {
        transform: scale(.63392);
    }
    .Internal-Mars {
        transform: scale(.63392);
    }
    .Geology-Mars {
        transform: scale(.31724135);
    }
}

@media(min-width: 992px) {
    .Planet-Mars {
        transform: scale(1);
    }
    .Internal-Mars {
        transform: scale(1);
    }
    .Geology-Mars {
        transform: scale(.5);
    }
}