.Planet-Mercury {
    background-image: url(../../assets/planet-mercury.svg);
    width: 18.125rem!important;
    height: 18.125rem!important;
    transform: scale(.3827586);
}

.Internal-Mercury {
    background-image: url(../../assets/planet-mercury-internal.svg);
    width: 18.125rem!important;
    height: 18.125rem!important;
    transform: scale(.3827586);
}

.Geology-Mercury {
    background-image: url(../../assets/geology-mercury.png);
    width: 20.375rem!important;
    height: 24.875rem!important;
    transform: scale(.1913780);
}

@media(min-width: 768px) {
    .Planet-Mercury {
        transform: scale(.6344827);
    }
    .Internal-Mercury {
        transform: scale(.6344827);
    }
    .Geology-Mercury {
        transform: scale(.31724135);
    }
}

@media(min-width: 992px) {
    .Planet-Mercury {
        transform: scale(1);
    }
    .Internal-Mercury {
        transform: scale(1);
    }
    .Geology-Mercury {
        transform: scale(.5);
    }
}

