h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem!important;
    font-weight: 400!important;
    margin: 0!important;
    padding: 0!important;
}

h2 {
    font-family: 'Spartan', sans-serif;
    font-size: 0.563rem!important;
    font-weight: 700!important;
    color:#979797;
    text-align: center;
    margin: 0!important;
    letter-spacing: 0.188rem;
    padding: 1.25rem 0!important;
}

h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 0.75rem!important;
    font-weight: 400!important;
    color: #979797!important;
    margin: 0!important;
}

h4 {
    font-family: 'Spartan', sans-serif;
    font-size: .5rem!important;
    font-weight: 500!important;
    letter-spacing: 0.046rem;
    color: #979797!important;
    margin: 0 0 0 1.5rem!important;
    padding: 0!important;
}

h5 {
    font-family: 'Antonio', sans-serif;
    font-size: 1.25rem!important;
    font-weight: 600!important;
    color: #ffffff!important;
    margin: 0 1.5rem 0 0!important;
    text-align: right;
    padding: 0!important;
}

h6 {
    font-family: 'Spartan', sans-serif;
    font-size: 0.688rem!important;
    font-weight: 300!important;
    line-height: 22px!important;
    color: #ffffff!important;
    margin-top: 1.625rem!important;
}

.mobile-border-line {
    padding: 1.0925rem .2rem;
}

.mobile-hover-select:hover {
    cursor: pointer;
    color: #ffffff;
    transition: .15s;
}

.link a {
    font-family: 'Spartan', sans-serif;
    font-size: 0.75rem!important;
    font-weight: 700!important;
    color: #979797!important;
}

.wiki-link {
    background-image: url(../../assets/icon-wikipedia.svg);
    width: 0.75rem!important;
    height: 0.75rem!important;
    display: inline-block;
    margin-left: .25rem!important;
}

.planet-space {
    margin: 9.688rem 0!important;
}

.planet-positioning {
    position: absolute;
    left: -50%;
    right: -50%;
    bottom: 50%;
    top: 50%;
    margin: auto;
}

.geology-positioning {
    position: absolute;
    left: -50%;
    right: -50.1%;
    top: -8.125rem;
    margin-left: auto;
    margin-right: auto;
}

.position-relative {
    position: relative;
}

.side-padding {
    padding: 0 1.5rem 0!important;
}

.source-padding {
    padding: 0 1.5rem 0!important;
}

.bottom-border {
    border-bottom: 0.063rem #38384F solid!important;
}

.data-container {
    margin: 2.25rem 0 2.25rem!important;
    padding: 0 1.5rem 2.938!important;
}

.info-border-box {
    border: 0.063rem #38384F solid;
    padding: .688rem 0 .688rem 0!important;
    margin-bottom: .5rem!important;
}

.col {
    padding: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-padding {
    padding: 0!important;
}

@media(min-width: 768px) {
    h1 {
        font-size: 3rem!important;
        text-align: left!important;
    }
    h2 {
        color: #ffffff;
        letter-spacing: 0.121rem!important;
        text-align: left;
        padding: 0.938rem 0 0.938rem 0!important;
    }
    h4 {
        margin: 0 0 .9rem 0!important;
    }
    h5 {
        font-size: 1.5rem!important;
        text-align: left!important;
    }
    h6 {
        text-align: left!important;
    }
    .bottom-border {
        border-bottom: 0rem #38384f00 solid!important;
    }
    .planet-space {
        margin: 14.475rem 0!important;
    }
    .tabs-container-top-margin{
        margin-top: 3.5rem!important;
    }
    .tab-format {
        padding: 0!important;
        margin-bottom: 1.063rem!important;
        width: 100%!important;
        cursor: pointer;
    }
    .tab-border-box {
        border: 0.063rem #38384F solid;
    }
    .tab-border-box:hover {
        background-color: #7a7a7a3b;
        transition: .15s ease-in-out;
    }
    .geology-positioning {
        position: absolute;
        left: -50%;
        right: -50.1%;
        top: -5.225rem;
        margin-left: auto;
        margin-right: auto;
    }
    .source-padding {
        padding: 1rem 2.5rem 0!important;
    }
    .side-padding {
        padding: 0 2.5rem 0!important;
    }
    .data-container {
        padding: 0 2.5rem 0!important;
    }
    .tab-padding {
        padding: 0 2.5rem 0 4rem!important;
    }
    .tab-number-format {
        margin-left: 1.2rem!important;
        margin-right: .9rem!important;
        color: #979797;
    }
    .info-border-box {
        padding: 1.082rem 2.7rem 1.082rem 1rem!important;
        margin-bottom: 0rem!important;
    }
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem!important;
        margin-top: 7.975rem!important
    }
    h2 {
        font-size: 0.75rem!important;
        font-weight: 600!important;
        padding: 1.063rem 0 1.063rem 0!important;
    }
    h4 {
        font-size: 0.688rem!important;
    }
    h5 {
        font-size: 2.5rem!important;
        font-weight: 300!important;
    }
    h6 {
        font-size: 0.875rem!important;
    }
    .planet-space {
        margin: 23.475rem 0 23rem 3rem!important;
    }
    .side-padding {
        padding-right: 7.625rem!important;
        padding-left: 0rem!important;
    }
    .tab-padding {
        padding: 0 7.625rem 0 0rem!important;
        margin: 0!important;
    }
    .geology-positioning {
        position: absolute;
        left: -50%;
        right: -50.1%;
        top: -1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .link {
        margin-top: 3.5rem!important;
        margin-bottom: 2.75rem!important;
    }
    .tab-number-format {
        margin-right: .9rem!important;
        color: #979797;
    }
    .data-container {
        margin: 0.2rem 0 0.5rem 0!important;
        padding: 0 7.625rem 0!important;
    }
    .info-border-box {
        padding: 1.5rem 4rem 1.5rem 1rem!important;
    }
}

