.Planet-Saturn {
    background-image: url(../../assets/planet-saturn.svg);
    width: 41.631rem!important;
    height: 41.631rem!important;
    transform: scale(.38433);
}

.Internal-Saturn {
    background-image: url(../../assets/planet-saturn-internal.svg);
    width: 41.631rem!important;
    height: 41.631rem!important;
    transform: scale(.38433);
}

.Geology-Saturn {
    background-image: url(../../assets/geology-saturn.png);
    width: 20.375rem!important;
    height: 24.875rem!important;
    transform: scale(.1913780);
}

.Select-Saturn{
    border-bottom: 0.25rem #CD5120 solid!important;
    color: #ffffff;
}

.Select-Saturn:hover{
    border-bottom: 0.25rem #CD5120 solid!important;
    color: #ffffff;
    cursor: pointer;
}

@media(min-width: 768px) {
    .Planet-Saturn {
        transform: scale(.63355);
    }
    .Internal-Saturn {
        transform: scale(.63355);
    }
    .Geology-Saturn {
        transform: scale(.31724135);
    }
    .Saturn-Border-Box:hover {
        border: 0.063rem #CD5120 solid !important;
    }
    .Saturn-Border-Fill {
        background-color: #CD5120;
    }
}

@media(min-width: 992px) {
    .Planet-Saturn {
        transform: scale(1);
    }
    .Internal-Saturn {
        transform: scale(1);
    }
    .Geology-Saturn {
        transform: scale(.5);
    }
}