.Planet-Venus {
    background-image: url(../../assets/planet-venus.svg);
    width: 25rem!important;
    height: 25rem!important;
    transform: scale(.38499);
}

.Internal-Venus {
    background-image: url(../../assets/planet-venus-internal.svg);
    width: 25rem!important;
    height: 25rem!important;
    transform: scale(.38499);
}

.Geology-Venus {
    background-image: url(../../assets/geology-venus.png);
    width: 20.375rem!important;
    height: 24.875rem!important;
    transform: scale(.1913780);
}

.Select-Venus{
    border-bottom: 0.25rem #EDA249 solid!important;
    color: #ffffff;
}

.Select-Venus:hover{
    border-bottom: 0.25rem #EDA249 solid!important;
    color: #ffffff;
    cursor: pointer;
}

@media(min-width: 768px) {
    .Planet-Venus {
        transform: scale(.6325);
    }
    .Internal-Venus {
        transform: scale(.6325);
    }
    .Geology-Venus {
        transform: scale(.31724135);
    }
    .Venus-Border-Box:hover {
        border: 0.063rem #EDA249 solid !important;
    }
    .Venus-Border-Fill {
        background-color: #EDA249;
    }
}

@media(min-width: 992px) {
    .Planet-Venus {
        transform: scale(1);
    }
    .Internal-Venus {
        transform: scale(1);
    }
    .Geology-Venus {
        transform: scale(.5);
    }
}