/* * {
  border: 1px red solid;
} */

/* Antonio Font font-family: 'Antonio', sans-serif;'Antonio' */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

/* Spartan Font - font-family: 'Spartan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main-background {
  color: #ffffff;
  background-color: #070724;
  background-image: url(./assets/background-stars.svg);
  background-size: cover;
}

body {
  transition: 0s;
}