* {
  border: 1px red solid;
}

/* Antonio Font font-family: 'Antonio', sans-serif;'Antonio' */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

/* Spartan Font - font-family: 'Spartan', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main-background {
  color: #ffffff;
  padding-bottom: 100rem;
  background-color: #070724;
  background-image: url(./assets/background-stars.svg);
  background-size: cover;
}

@media(min-width: 768px) {
  .page-master-container {
    margin: 0 2.438rem!important
  }
}

@media(min-width: 992px) {
  .page-master-container {
    margin: 0 2.0rem!important
  }
}